.flex-container{
    width: 1300px;
    height:1360px;
    background-color: aquamarine;
    margin: auto;
  }
  
  .boxes{
    margin: 10px;
    width: 240px;
    height: 160px;
    background-color: brown;
    color: black;
    position: absolute;
  }